.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100dvw;
  margin: 0 auto;
  padding: 0 2rem;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-left img {
  width: 50px;
}

.copyright {
  color: var(--color-text-main);
  font-size: 0.85rem;
  text-align: right;
}

.designed-by {
  color: var(--color-text-muted);
  font-weight: 500;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-right {
    align-items: center;
  }

  .copyright {
    text-align: center;
  }
}